<mat-toolbar color="primary">
  <span>Panel Administracyjny</span>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-card>
  <mat-card-content *ngIf="!isAuthenticated">
    <mat-error>Brak uprawnień</mat-error>
  </mat-card-content>
  <mat-card-content *ngIf="isAuthenticated && loading">

    <mat-tab-group>
      <mat-tab label="Dodawanie walut">
        <app-currency-add></app-currency-add>
      </mat-tab>

      <mat-tab label="Dodawanie kursu">
        <app-rate-add></app-rate-add>
      </mat-tab>

      <mat-tab label="Ustawianie prowizji">
        <app-provision-add></app-provision-add>
      </mat-tab>

      <mat-tab label="Informację o prowizjach">
        <app-provisions-info></app-provisions-info>
      </mat-tab>

      <mat-tab label="Informację o walutach">
        <app-currency-info></app-currency-info>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
